@page
@model ASP.NET.Views.Main.ProductCountSelectionModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ненавиджу</title>
</head>
<body>
    <form action="ProductSelection" method="post">
        <div>
            <label for="count">Кількість замовлень:</label>
            <input type="number" id="count" name="Count" required>
        </div>
        <div>
            <button type="submit">Далі</button>
        </div>
    </form>
</body>
</html>