@page
@model ASP.NET.Views.Main.ProductViewModel
@{
    List<Product>? products = TempData["Products"] as List<Product>;
    if (products is null)
    {
        throw new Exception();
    }

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Перегляд</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <form action="ProductView" method="post">
        <label for="mode">Виберіть режим:</label>
        <select id="mode" name="mode">
            <option value="list">Список</option>
            <option value="grid">Таблиця</option>
        </select>
        <br><br>
        <input type="submit" value="Отправить">
    </form>

    @await Component.InvokeAsync("Table", products)
    <a href="/AddProduct">Додати продукт</a>
</body>
</html>
