@page
@model ASP.NET.Views.ProductSelectionModel
@{
    int count = Convert.ToInt32(TempData["Count"]);
    List<Product>? products = TempData["ProductNames"] as List<Product>;
    if (products is null)
    {
        throw new Exception(); 
    }
    else
    {
        var serializedProducts = Newtonsoft.Json.JsonConvert.SerializeObject(products);
        <script>
            var productsList = @Html.Raw(serializedProducts);
        </script>
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C#</title>
</head>
<body>
    <form action="Result" method="post">

        @for (int i = 0; i < count; i++)
        {
            <select name="productAmounts[@i].Product.Name" id="productNameSelect_@i" onchange="displayPrice(@i)">
                <option value="">Select Product Name</option>
                @foreach (var product in products)
                {
                    <option value="@product.Name">@product.Name</option>
                }
            </select>
            <br>
            <p id="productPrice_@i">Ціну не визначено</p>
            <input type="number" name="productAmounts[@i].Amount" placeholder="Product amount">
            <br>
        }
            <button type="submit">Submit</button>
        
    </form>
    <script>
        function displayPrice(index) {
            var select = document.getElementById("productNameSelect_" + index);
            var priceParagraph = document.getElementById("productPrice_" + index);
            var hiddenInput = document.getElementById("productPriceHidden_" + index);
            var selectedOption = select.options[select.selectedIndex];
            var productName = selectedOption.value;

            var product = productsList.find(function (prod) {
                return prod.Name === productName;
            });

            if (product) {
                priceParagraph.textContent = "Цена: " + product.Price;
                hiddenInput.value = product.Price; 
            } else {
                priceParagraph.textContent = "Цена: неизвестно";
                hiddenInput.value = 0;
            }
        }
    </script>
</body>
</html>