@model ConsultationRequest

<!DOCTYPE html>
<html>
<head>
    <title>Registration Successful</title>
</head>
<body>
    <h1>Registration Successful</h1>
    <p>Ви, @Model.FullName, успішно зареєстровані на @Model.ConsultationDate.Date.ToString() з теми @Model.Type.</p>
    <p>Повідомлення про реєстрацію буде відправлено на пошту @Model.Email.</p>
</body>
</html>