
@model ASP.NET.Views.Components.Weather.WeatherModel
<div >
    <p>Температура: @Model.TempCelsius ℃</p>
    <p>Атмосферний тиск: @Model.Pressure гПа</p>
    <p>Вологість: @Model.Humidity%</p>
    <p>Швидкість вітру: @Model.WindSpeed м/с</p>
</div>

